---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Run yaml Lint
        uses: actionshub/yamllint@main

  markdownlint-cli2:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Run Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v14
        with:
          globs: "**/*.md"
  json:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Run JSON Lint
        run: |
          git ls-files *.json | xargs jq empty
